<!-- start custom footer snippets -->

<script>
//Tell the function scrollTop to run when the user scrolls
window.onscroll = scrollTop;

//scrollTop pops totop in and out after scrolling 50px
function scrollTop() {
  if (document.body.scrollTop >= 50 || document.documentElement.scrollTop >= 50) {
  document.getElementById('totop').style.display = 'block';
  } else {
  document.getElementById('totop').style.display = 'none';
  }
}

/*
//scroll to top of page when onclick scrollUp triggered
function scrollUp() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0; // IE and Firefox
}
*/
//scroll to top of page when onclick scrollUp triggered
function scrollUp() {
  document.body.scroll({
    top: 0,
    left: 0,
    behavior: "smooth"
  });
  document.documentElement.scroll({
    top: 0,
    left: 0,
    behavior: "smooth"
  }); // IE and Firefox
}
</script>

<!-- To Do ~mlc 16 January 2020
     1. Only add for gallery pages. 
     2. Add support for feature rows. -->
<script src="/assets/js/lazysizes.min.js" async=""></script>

{% if page.swiper %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    </script>
{%endif %}

<!-- end custom footer snippets -->