/**
 * My Masonry Grid Custom CSS
 */

.grid__item {
  right: 0% !important; /* Seems to help center grid items on small devices. ~mlc */
}

.archive__item-title {
  font-size: 0; /* Don't display title but keep link on teaser image for masonry. ~mlc */
}
.archive__item-excerpt {
  display: none; /* Let's not display grid titles for masonry. ~mlc */
}

#page-title {
  display: none;
}