/* ==========================================================================
   mlc skin
   ========================================================================== */

/* Colors */
$background-color: #212326 !default;
$text-color: #eaeaea !default;
$primary-color: #f05e35 !default; /* red orange */
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: mix($primary-color, $text-color, 80%) !default; /* bumped to 80 */
$link-color-hover: mix(#111, $link-color, 45%) !default; 
$link-color-visited: $link-color; /* mix(#000, $link-color, 25%) !default; comment out to stop colour jumping  ~mlc 23jan20 */
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $background-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

.gs-no-results-result .gs-snippet {
  color: black !important;
  background-color: gray !important;
  border: gray !important;
}

/* || Custom Styles */

/* Animations */

h1, .author__name {
  animation: 4s 1 fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.animation-element {
  position: relative;
  width: 90%;
  margin: 0% 1.33 2.66% 1.33%;
}

@media all and (min-width: 1024px) {
  .animation-element {
    width: 30%;
  }
}

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.subject {
  width: 100%;
  padding: 1em;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);  
  border-radius: 50%;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left h1 {
  padding: 1%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

/* Dropcap */

.dropcap {
  font-size: 3rem;
  line-height: 1;
  float: left;
  padding-right: 0.1em;
}

/* Standard Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Multi-column */
.p-wrapper {
  column-count: 2;
}

.p-wrapper {
  p {
    /* Avoids any break from being inserted within the principal box. ~MDN */
    break-inside: avoid;
  }
}

/* Vertical Text */

/* Top to bottom. */
.vert-me {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  letter-spacing: .35rem;
}

/* Bottom to top. */
.bottoms-up {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  letter-spacing: .35rem;
}

@media all and (max-width: 1023.998px) {
  .vert-me, .bottoms-up {
    display: none;
  }
}

/* To Top Button */

#totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.5);
  color: gray;
  border-radius: 4px;
  font-size: 1.4em;
  line-height: 1.2;
  padding-top: 0.4em;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  z-index: 10;
  
  &:hover {
    background-color: #333;
  }
}

/* Mobile Menu */

#open-button {
  z-index: 2;
}

.greedy-nav .hidden-links {
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
  z-index: 2;
}

.greedy-nav .hidden-links li {
  border: none !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.bio-photo {
  width: 300px;
  height: 300px;
  background-image: url(/assets/images/about/bhutan-paro-mark-self-portrait-down-bw-300w.jpg);
}

.bio-photo:hover {
  background-image: url(/assets/images/about/bali-ubud-pasar-mark-by-syahravi-300w.jpg);
}

.masonry-hide {
  display: none;
}